body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Taviraj', serif;    
}

.first-section{
    display: flex;
}
.half-width{
    margin-top: 30px;
    width: 50%;
}
.half-width img{
    width: 60%;
    margin-left: 50px;
}
.first-heading{
    border-left: 4px solid;
    border-image: linear-gradient(blue, rgb(128, 51, 105)) ;
    border-image-slice: 1;
    border-image: 40px;

}
 .first-heading h1{
    font-size: 55px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;

}
.mission-color{
    color:rgb(12, 167, 187);
}
.left-heading{
    padding: 30px;
    margin-top: 80px;
    margin-left: 90px;
    margin-right: 60px;
}
.section-paragraph{
    margin-bottom: 40px;
}

.link-button{
    text-decoration: none;
    padding: 10px 25px;
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
}
.explore{
    margin-top: 30px;}
    /* second section */
.second-heading{
    font-size: 55px;
    text-align: center;
}
.second-section{
    display: flex;
    
}
.second-section-child{
  
    width: 20%;
    border-radius: 10px;
    
}
    .ilustar-img{
        width: 50%;
        margin-left: 70px;
        margin-top: 20px;
    }

.mission{
    background-color: rgb(243, 217, 217);
    padding: 17px;
    margin-left: 150px;
}
.vission{
    background-color: rgb(230, 243, 217);
    padding: 5px;
    margin-left: 60px;
}
.goals{
    background-color: rgb(229, 217, 243);
    padding: 17px;
    margin-left: 50px;
}
.child-3{
    text-align: center;
}

/* third section */
.third-section{
    margin-top: 150px;
   
}
.third-section1{
    display: flex;
    
}
.third-section-left{
    width: 40%;
    margin-left: 10%;
   
}
.third-section-right{
    width: 60%;
    padding-right: 200px;
    margin-left: 5%;
    
}
.third-section-left img{
    width: 90%;
 
}
.heading-third{
    padding: 0;
    margin: 0;
    font-size: 35px;
    font-weight: 800;
}
.paragraph-3{
    margin-bottom: 40px;
}

/* section four */
.section-4{
    margin-top: 8%;
}
.section1-4{
    display: flex;

}
.section-4-left{
    width: 40%;
    padding: 25px;
    margin-left: 10%;
}

.section-4-right{
    width: 40%;
    margin-left: 5%;
}
.section-4-right img{
    width: 80%;
}




